body{
	background-color:#FDC95A;
	margin:0;
	padding:0;
}

.fish{
	display:block;
	margin:20% auto;
	max-width:90%;
	opacity: .2;
}

.hello{
	position: absolute;
	top:40%;
	left:20%;
	font-family: 'Stalemate', cursive;
	color:white;
}
